<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

  <display-name>Archetype Created Web Application</display-name>


  <!--&lt;!&ndash; 由Sprng载入的Log4j配置文件位置 &ndash;&gt;
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>classpath:log4j.properties</param-value>
  </context-param>

  &lt;!&ndash; Spring默认刷新Log4j配置文件的间隔,单位为millisecond &ndash;&gt;
  <context-param>
    <param-name>log4jRefreshInterval</param-name>
    <param-value>60000</param-value>
  </context-param>

  &lt;!&ndash; Web 项目 Spring 加载 Log4j 的监听  &ndash;&gt;
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
-->

  <!--设置spring 配置文件的位置-->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring/applicationContext*.xml</param-value>
  </context-param>

  <!--配置spring listener-->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <!-- 防止spring内存溢出监听器，比如quartz -->
  <listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>

  <!--配置spring 编码解析-->
  <filter>
    <filter-name>characterEncoding</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>

    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>

  <!-- ========================= spring 配置结束 ========================= -->
  <!-- ========================= spring 配置结束 ========================= -->
  <!-- ========================= spring 配置结束 ========================= -->


  <!--配置springmvc 前端控制器 Dispatcher调度-->
  <servlet>
    <servlet-name>springmvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <!-- 默认加载方式
             默认加载必须规范：
             * 文件命名：servlet-name-servlet.xml====springmvc-servlet.xml
             * 路径规范：必须在WEB-INF目录下面
       -->
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:springmvc/springmvc.xml</param-value>
    </init-param>
    <!-- 使系统在启动时装在servlet而不是第一个servlet被访问 -->
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern>/</url-pattern>
    <url-pattern>*.do</url-pattern>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>

  <!-- ========================= springMVC 配置结束 ========================= -->
  <!-- ========================= springMVC 配置结束 ========================= -->
  <!-- ========================= springMVC 配置结束 ========================= -->


  <!-- 配置过滤器,以下声明的文件不被拦截,否则默认拦截,!!注意servlet-name标签内的default不可更改!!! -->
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.js</url-pattern>
    <url-pattern>*.css</url-pattern>
    <url-pattern>*.jpg</url-pattern>
    <url-pattern>/images/*</url-pattern>
    <url-pattern>/fonts/*</url-pattern>
    <url-pattern>/font/*</url-pattern>
    <url-pattern>/js/*</url-pattern>
    <url-pattern>/css/*</url-pattern>
    <url-pattern>/lay/*</url-pattern>
  </servlet-mapping>

  <!-- ========================= FilterMapping ========================= -->
  <!-- ========================= FilterMapping ========================= -->
  <filter-mapping>
    <filter-name>characterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>


  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

</web-app>
