<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.feiyang.tourism.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="cn.feiyang.tourism.model.User" >
    <id column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="screen_name" property="screenName" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="BIGINT" />
    <result column="logged" property="logged" jdbcType="BIGINT" />
    <result column="activateCode" property="activatecode" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="resume" property="resume" jdbcType="VARCHAR" />
    <result column="word_number" property="wordNumber" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    uid, username, password, email, screen_name, created, logged, activateCode, state, 
    resume, word_number
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where uid = #{uid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user
    where uid = #{uid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.feiyang.tourism.model.User" >
    insert into user (uid, username, password, 
      email, screen_name, created, 
      logged, activateCode, state, 
      resume, word_number)
    values (#{uid,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{screenName,jdbcType=VARCHAR}, #{created,jdbcType=BIGINT}, 
      #{logged,jdbcType=BIGINT}, #{activatecode,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, 
      #{resume,jdbcType=VARCHAR}, #{wordNumber,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.feiyang.tourism.model.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="screenName != null" >
        screen_name,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="logged != null" >
        logged,
      </if>
      <if test="activatecode != null" >
        activateCode,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="resume != null" >
        resume,
      </if>
      <if test="wordNumber != null" >
        word_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="screenName != null" >
        #{screenName,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=BIGINT},
      </if>
      <if test="logged != null" >
        #{logged,jdbcType=BIGINT},
      </if>
      <if test="activatecode != null" >
        #{activatecode,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="resume != null" >
        #{resume,jdbcType=VARCHAR},
      </if>
      <if test="wordNumber != null" >
        #{wordNumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.feiyang.tourism.model.User" >
    update user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="screenName != null" >
        screen_name = #{screenName,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=BIGINT},
      </if>
      <if test="logged != null" >
        logged = #{logged,jdbcType=BIGINT},
      </if>
      <if test="activatecode != null" >
        activateCode = #{activatecode,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="resume != null" >
        resume = #{resume,jdbcType=VARCHAR},
      </if>
      <if test="wordNumber != null" >
        word_number = #{wordNumber,jdbcType=INTEGER},
      </if>
    </set>
    where uid = #{uid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.feiyang.tourism.model.User" >
    update user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      screen_name = #{screenName,jdbcType=VARCHAR},
      created = #{created,jdbcType=BIGINT},
      logged = #{logged,jdbcType=BIGINT},
      activateCode = #{activatecode,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      resume = #{resume,jdbcType=VARCHAR},
      word_number = #{wordNumber,jdbcType=INTEGER}
    where uid = #{uid,jdbcType=VARCHAR}
  </update>
</mapper>